/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h3,
h4 {
  color: #0056b3;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

li {
  margin-bottom: 8px;
}

ul ul {
  list-style-type: circle;
}

/* Sections */
section {
  margin-bottom: 20px;
}

section ul {
  margin-top: 10px;
}

section ul ul {
  margin-top: 5px;
}

section.personal-info h4 {
  display: none;
}

.text-center {
  text-align: center;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .container {
  background-color: #444;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode h1,
body.dark-mode h3,
body.dark-mode h4 {
  color: #9fcdff;
}

body.dark-mode p,
body.dark-mode ul li {
  color: #ccc;
}

body.dark-mode a {
  color: #1e90ff;
}

/* Style pour le bouton de Dark Mode */
.toggle-darkmode {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-darkmode.active {
  background-color: #333;
}

.toggle-darkmode:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-darkmode.active:before {
  transform: translateX(30px);
}

/* Désactiver la sélection de texte sur le bouton de Dark Mode */
#toggle-darkmode {
  user-select: none; /* Empêche la sélection du texte */
  -webkit-user-select: none; /* Pour les navigateurs Webkit */
  -moz-user-select: none; /* Pour Firefox */
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h3,
  h4 {
    font-size: 1.2rem;
  }

  p,
  ul li {
    font-size: 1rem;
  }
}

/* Style pour la section en cours de déplacement */
.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
    border: 2px dashed #0056b3;
}

/* Style pour les sections survolées pendant le drag */
.hovered {
    border: 2px solid #0056b3;
    background-color: #e0e0e0;
}

/* Ajout d'une transition pour un effet plus fluide */
section {
    transition: all 0.3s ease;
}
